/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* global styling */
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul,
li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "aside header"
    "aside content";
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title {
  font-weight: 700;
}

/* icon styling */
.icon-large {
  width: 2rem;
  filter: invert(100%) sepia(19%) saturate(0%) hue-rotate(332deg) brightness(101%) contrast(101%);
}

.icon-md {
  width: 1.4rem;
  filter: invert(100%) sepia(19%) saturate(0%) hue-rotate(332deg) brightness(101%) contrast(101%);
}

.icon-black {
  filter: invert(10%) sepia(0%) saturate(78%) hue-rotate(171deg) brightness(118%) contrast(101%);
}

/* nav-bar styling */

.nav-bar {
  background-color: #0ea8f1;
  display: grid;
  color: aliceblue;

  padding: 30px 0;
  grid-area: aside;
}

.nav-bar .title {
  margin-left: 30px;
  font-size: 1.5rem;
}

nav ul {
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav li {
  padding-left: 30px;
}
nav li:hover {
  background-color: #f1570e;
}

li a {
  text-decoration: none;
  display: flex;
  gap: 15px;
  color: aliceblue;
}

a:visited {
  color: aliceblue;
}

/* header styling */
.header {
  display: grid;
  padding: 15px 0 15px 15px;
  grid-template-areas: "search user" "greeting button";
  gap: 5px;

  grid-area: header;
  justify-items: auto;
  box-shadow: 0 2px 10px grey;
}

.searcbar {
  grid-area: search;
}

.header div:nth-child(1) {
  margin-left: 15px;
}

.user {
  grid-area: user;
  justify-self: center;
}

.username {
  font-weight: 700;
}

.user-big {
  font-size: 1.4rem;
}

.greeting {
  grid-area: greeting;
}

.buttons {
  grid-area: button;
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 20px;
  padding-left: 15px;
}

.button {
  border: none;
  border-radius: 15px;
  background-color: #0ea8f1;
  color: aliceblue;
  font-weight: 700;
  padding: 5px 25px;
}

.button:hover {
  background-color: #f1570e;
}

.search {
  border-radius: 12px;
  border: none;
  background-color: #c5c5c5;
  width: 80%;
  padding-left: 15px;
}

/* avatar styling */
div.avatar {
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  background-color: #f1560e75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting div.avatar {
  width: 70px;
}

.avatar img {
  width: 60%;
}

/* main content container styling */

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "project sidebar";
  background-color: #e0e0e0;
  padding: 1rem;
  gap: 1rem;
}

/* project container styling */
.project {
  grid-area: project;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "content content";
  gap: 1rem;
}

.project h2 {
  grid-area: title;
}

.project-card {
  border-left: 5px solid #f1570e;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px;
  padding: 10px;
  height: fit-content;
  display: grid;
  gap: 1rem;
}

.project-card h3 {
  font-size: 1rem;
}

.project-card p {
  font-size: 0.7rem;
}

.project-icon {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

/* sidebar container styling */
.sidebar {
  grid-area: sidebar;
}
